/*reset css*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif 
}
/*flex*/

.flex-sp-bt-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-sp-bt-cen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col-sta-sp-bt{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
    
}



/*! tag*/


header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}


main{
    padding-top: 100px;
    width:100%;
    
    height: 120%;
}


h1{
    font-size: 20px;
    display: inline-block;
}

/*commands*/


.dotted{
    border: 1px dotted black;
}




/*col/bg-col*/


.bg-blue{
    background-color: rgb(84, 84, 228);
}

.bg-yellow{
    background-color:yellow;
}

.bg-grey{
    background-color:rgb(107, 71, 71);
}
.bg-green{
    background-color: green;
}
.bg-black{
    background-color:black;
}


/* header*/

.block{
    width: 35%;
    height: 80%;
}



/*introduction*/
.big-conteiner{
    width: 80%;
    margin: 50px auto;
    height: 100%;
}


.introduction{
    width: 100%;
    height: 500px;
}

.title{
    padding: 40px 0;
    text-align: center;
    width: 100%;
}



.img-intro{
    float: right;
    height: 80%;
    width: 50%;
}

.intro::after{
    clear: both;
    content: '';
    display: table;
}

.testo-bottoni{
    height:100%
}



/*container*/


.container{
    width: 70%;
    margin: 30px auto;
    height: 100%;
}

.title-m{
    width: 100%;
    height: 50px;
    padding: 20px 0;
}

.fake-buttons{
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
}

/*card section*/
.cards-container{
   width: 100%;
   height: 1000px;

}

.card{
    width: calc(100%/3 - 10px);
    height: 400px;
}