/*reset css*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif 
}
/*flex*/

.flex{
    display: flex;
}
.flex-sp-bt-cen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-sp-ar-cen{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-sp-bt{
    display: flex;
    justify-content: space-between;
   
}
.flex-col-sta-sp-bt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;   
}
.flex-col-ali-center{
    display: flex;
    flex-direction: column;  
    align-content: center; 
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.flex-col-sta-sta{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.flex-sta-sta{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.flex-j-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-sp-ar-cen{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* tag*/


header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}


main{
    padding-top: 100px;
    width:100%;
    
    
}


h1{
    font-size: 70px;
    display: inline-block;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/*commands*/


.dotted{
    border: 1px dotted black;
}

.border{
    border: 1px solid black;
}


.tex-al-s{
    text-align: left;
}
.bottom-border{
    border-bottom: 1px solid black;
}

.bold{
    font-weight: bold;
}

/*col/bg-col*/


.bg-blue{
    background-color: rgb(84, 84, 228);
}

.bg-yellow{
    background-color:yellow;
}

.bg-grey{
    background-color:rgb(107, 71, 71);
}
.bg-green{
    background-color: green;
}
.bg-black{
    background-color:black;
}
.bg-red{
    background-color: red;
}

.bg-purple{
    background-color: rgb(121, 74, 121);
}
.bg-white{
    background-color: white;
}
.col-white{
    color: white;
}
.col-grey{
    color: grey;
}
.col-blu{
    color: rgb(52, 52, 223);
}


/*clearfix*/

.intro::after , .float-box::after{
    clear: both;
    content: '';
    display: table;
}
/*buttons*/


.button-s-blu{
    background-color: aqua;
    color: white;
    padding: 3px 5px;
    border: 1px solid aqua;
    ;
    
}
.card .button-s-blu{
    width: 100%;
    margin-top: 30px;
   
}
.button-white{
    background-color:white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    
    
}

/*testo*/

.title-s-bold{
    font-size: 40px;
    font-weight: bold;
}

.text-s{
   
    font-size: 20px;
}

.title-m{
    font-size: 40px;
    width: 100%;
    font-weight: bold;

}
.text-s-bold{
    font-size: 20px;
    font-weight: bold;
    
}

.title-s{
    font-size: 35px;
}





/* header*/

.block{
    width: 35%;
    height: 80%;
}



/*introduction*/
.big-conteiner{
    width: 80%;
    margin: 50px auto;
    height: 540px;
    margin-top: 0;
}



.title{
    padding: 40px 0;
    width: 100%;
}



.img-intro{
    float: right;
    
    width: 60%;
}




p.intro-txt{
    padding-bottom: 20px;
}

a.closing{
    padding: 20px 0;
    color: black;
}

.jumbo{
    max-width: 100%;
}
.arrow{
    font-size: 40px;
}
/*tipologia fatturazione section*/


.container{
    width: 70%;
    margin: 30px auto;
    height: 100%;
    
}



.fake-buttons{
    width: 100%;
    height: 50px;
    margin: 50px 0;
}

.tipologia-fatturazione{
    margin-top: 100px;
}

.tipologia-fatturazione>.title-m{
    margin-top: 250px;
}
.fake-button{
    content: '';
    border-radius: 50%;
    border: 4px solid blue;
    width: 10px;
    height: 10px;
    padding: 4px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.fake-button.dx{
    margin-left: 70px;
} 

/*card section*/
.cards-container{
   width: 100%;


}

.card{
    width: calc(100%/3 - 10px);
}
.title-card{
    text-align: center;
}

.card-description{
    margin: 10px 0;
}
.emoticon-card{
    
    font-size: 13px;
    padding: 10px;

}

.card a{
    text-decoration: underline;
}
.card-acquisti{
    text-align: left;
    margin-bottom: 70px;
    margin-top: 30px;
}

.txt.bottom-border{
    padding-bottom: 50px;
}

.card-footer{
   width: 80%;
   margin: 0 auto;

}

.centratura-card{
    width: 80%;
    margin: 0 20px;
}

.centratura-card>.title-s-bold{
    margin: 25px 0;
    display: block;
}

.centratura-card .text-s-bold{
    margin: 5px 0;
    display: block;
}

.card .col-grey.text-s{
    margin-bottom: 50px;
    display: block;
}



/*team section*/

.team-section{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    
    
}

.team-title{
    text-align: center;
    width: 100%;
    border: 1px solid black;
    
}
.team-content{
    margin-top: 50px;
    gap: 150px;
}

.main-team .-xs{
    margin-top:10px;
    
}

.button-special{
    align-self: flex-start;
    width: 20%;
    height: 50px;
    color: white;
    
}



.team-description{
    width: 80%;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
}
/*generic section*/

.generic-section{
    padding: 300px 0;
}
.img-gen-section{
    width: 90%;
    
    margin-right: 50px;
}
.txt-sex{
    width: 100%;
}

.img-gen-section img{
    max-width: 100%;
}

.title-s-bold.txt-sec{
    margin: 20px 0;
    width: 120%;
}
.text-s.txt-sec{
    margin: 20px 0;
    width: 350px;
}

.conteiner-text-gen-section{
    width: 50%;
    padding-top: 50px;
}
/*cella*/
.title-celle{
    margin: 50px 0;
}
.cella{
    width: 100%;
}
.col-pa{
    width: calc(100%/3);
    height: 100%;
    padding: 40px 20px;
}

.img-cella{
    max-width: 100%;
    

}

.txt-cella{
    width: 100%;


    
}
.txt-cella.title-s-bold{
    font-size: 30px;
    margin-bottom: 30px;
    
}

.img-cella img{
    max-width: 100%;
}

/*sponsor-section*/

.sponsor-title-section{
    height: 300px;
    text-align: left;
    gap: 50px;
    margin: 100px 0;
}
.sponsor-title-section .text-s{
    text-decoration: underline;
    color: blue;
    margin 80px
}
.sponsor-title-section .title-m{
    width: 60%;
}
.sponsor{
    width: calc(100%/3);
}

.sponsor-main-section{
    height: calc(2*253.19px);

}

.block-text-sponsor{
    flex-grow: 1;
}

.img-sponsor{
    width: calc(100%/2);
    height: calc(100%/2);
    border: 2px solid black;
    color: yellow;
}
.img-sponsor img{
    max-width: 70%;

}

.design-sponsor{
    background-color: rgb(37, 155, 37);
    border: 20px solid rgb(77, 179, 77);

}
.arizona-sponsor{
    background-color: brown;
}

.tops-sponsor{
    background-color: red;
}
.florida-special:conte{
    padding-top: 20px;
}


.main-text-special-sponsor{
    width: 80%;
    
    padding: 10% 20%;   
    height: 45%;
}

.sponsor-special-image{
    width: 80%;
    height: 40%;
    
}

.footer-text-special-sponsor{
    height: 15%;
    width:80% ;
    padding: 0 20%;
}



/*prova-gratis-section*/

.prova-gratis-section{
    height: 300px;
    width: 100%;
}

.blocco-domanda{
    padding: 30px 0;
}
.icon{
    width: 10px;
    height: 10px;
    background-color: aquamarine;
}

.prova-gratis-text{
    width: 45%;
}
.prova-gratis-bg{
    padding:0 15% ;
}
/*domande-frequenti-section*/

.domande-frequenti-section>.title-m{
    margin: 100px 0;
}

/*footer*/
.blocco-domanda i{
    margin-right: 30px;
}
footer{
    height: 700px;
    width: 100%;

}

.col-fold{
    width: calc(100%/5 - 5px);
}

.conclusion{
    padding:60px;
    border-top: 2px solid white;
    margin: 100px 0;
    display: inline-block;
    
}