/*reset css*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif 
}
/*flex*/


.flex-sp-bt-cen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-sp-bt{
    display: flex;
    justify-content: space-between;
   
}
.flex-col-sta-sp-bt{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
    
}


.flex-col{
    display: flex;
    flex-direction: column;
    
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
/*! tag*/


header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}


main{
    padding-top: 100px;
    width:100%;
    
    
}


h1{
    font-size: 20px;
    display: inline-block;
}

/*commands*/


.dotted{
    border: 1px dotted black;
}

.border{
    border: 1px solid black;
}


.tex-al-s{
    text-align: left;
}
/*col/bg-col*/


.bg-blue{
    background-color: rgb(84, 84, 228);
}

.bg-yellow{
    background-color:yellow;
}

.bg-grey{
    background-color:rgb(107, 71, 71);
}
.bg-green{
    background-color: green;
}
.bg-black{
    background-color:black;
}
.bg-red{
    background-color: red;
}
/*clearfix*/

.intro::after ,{
    clear: both;
    content: '';
    display: table;
}

/* header*/

.block{
    width: 35%;
    height: 80%;
}

/*testo*/

.title-s-bold{
    height: 50px;
    text-decoration-style: bold;
}

.text-s{
    height: 50px ;
}


/*introduction*/
.big-conteiner{
    width: 80%;
    margin: 50px auto;
    height: 100%;
}


.introduction{
    width: 100%;
    height: 500px;
}

.title{
    padding: 40px 0;
    text-align: center;
    width: 100%;
}



.img-intro{
    float: right;
    height: 80%;
    width: 50%;
}


.testo-bottoni{
    height:100%
}



/*container*/


.container{
    width: 70%;
    margin: 30px auto;
    height: 100%;
}

.title-m{
    width: 100%;
    height: 50px;
    padding: 20px 0;
}

.fake-buttons{
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
}

/*card section*/
.cards-container{
   width: 100%;
   height: 750px;

}

.card{
    width: calc(100%/3 - 10px);
    height: 700px;
}

/*team section*/

.team-section{
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

.team-logo{
    text-align: center;
    width: 100%;
    border: 2px solid black;
    height: 50px;
    line-height: 50px;
}


.button-special{
    align-self: flex-start;
    width: 20%;
    height: 50px;
}


/*generic section*/

.generic-section{
    padding-top: 100px;
}
.img-gen-section{
    width: 50%;
    height: 300px;
}
.txt-sex{
    width: 100%;
}

.conteiner-text-gen-section{
    width: 50%;
    padding-top: 50px;
}
/*cella*/

.cella{
    width: 100%;
}
.col-pa{
    width: calc(100%/3);
    height: 100%;
    padding: 10px 20px;
}

.img-cella{
    max-width: 100%;
    height: 250px;

}

.txt-cella{
    width: 100%;
    
}